
module.exports = {
  db: {
    host: '',
    user: '',
    port: '',
    database: '',
    password: ''
  },
  reCaptcha: {
    siteKey: '',
    secretKey: ''
  },
  apiUrl: '',
  siteUrl: '',
  jwt: {
    secret: ''
  },
  filesDir: ''
};
